<div class="container container-fluid col-sm-6">
    <div class="alert alert-danger" [hidden]="!errorUnknown">
      <strong>There's a server error. Or maybe you're not logged in?</strong>
    </div>
    <div class="alert alert-danger" [hidden]="!errorEmptyField">
      <strong> Please fill things out.</strong>
    </div>
    <form (submit)="submitPost()">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" name="heading" [(ngModel)]="post.heading" required>
      </div>
      <div class="form-group">
        <label for="pwd">Body:</label>
        <textarea class="form-control" rows="10"name="body" [(ngModel)]="post.body" required></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>