<div class="container container-fluid">
  <div class="alert alert-info" *ngIf="!authenticated(); else elseBlock">
    <strong> Please log in first.</strong>
  </div>
  
  <ng-template #elseBlock>
      <div class="container container-fluid mybtn col-sm-1">
          <input (click)="addPost()" class="btn btn-success mybtn" type="button" value="Add a post">
      </div>
      <div *ngFor="let post of allPosts" class="container container-fluid" style="padding:3rem">
          <div class="col-sm-9 box">
            <hr>
            <h2>{{ post.heading }}</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by {{ post.userEmailId }}</h5>
            <p>{{ post.body }}</p>
            <br><br>
                    
            <h4>Leave a Comment:</h4>
            <form role="form">
              <div class="form-group">
                <textarea class="form-control" rows="3" required></textarea>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <br><br>
          </div>
      </div>
  </ng-template>
</div>